/**
 * @author  Im[F(x)]
 */

/* General */

.mainholderDashboard {
    width: 350px;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.mainholderMobileDashboard {
    width: auto;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.sidebarMobileDashboard {
    min-width: auto;
}

.tabs {
    max-width: 100%;
    min-width: auto;
}

.hrTabs {
    border: 1px solid;
    width: 100%;
}

.localTable {
    display: table;
    width: 100%;
}

.localTableCell {
    display: table-cell;
    white-space: nowrap;
}

.localTableCellExpandRight {
    display: table-cell;
    width: 100%;
    white-space: nowrap;
    text-align: right;
}

.ulLists li {
    min-height: 16px;
}

/* desktop browser styles override */
@media only screen and (max-width: 768px) {
    .mainholderDashboard {
        width: auto;
        font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }

    .sidebar {
        max-width: 100%;
        min-width: auto;
    }
}

/* mobile browser portrait mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:portrait) {
    .mainholderMobileDashboard {
        width: auto;
        font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }

    .sidebarMobileDashboard {
        max-width: 100%;
    }
}

/* mobile browser landscape mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:landscape) {
    .mainholderMobileDashboard {
        width: auto;
        font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}
