/**
 * @author  Im[F(x)]
 */

/* General */

.mainholderDashboard {
    width: 350px;
    font-size: 16px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.mainholderMobileDashboard {
    width: auto;
    font-size: 14px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.sidebarMobileDashboard {
    min-width: auto;
}

.tabs {
    max-width: 200%;
    min-width: auto;
}

.tabGroupHeader {
    color: #444444;
    background-color: rgba(192, 192, 192, .5);
}

.hrTabs {
    border: 1px solid;
    width: 100%;
}

.localTable {
    display: table;
    width: 100%;
}

.localTableCell {
    display: table-cell;
    white-space: nowrap;
}

.localTableCellExpandRight {
    display: table-cell;
    width: 100%;
    white-space: nowrap;
    text-align: right;
}

.localTableCellExpandRight button div img{
    vertical-align: middle;
}

.ulLists li {
    min-height: 16px;
}

/* desktop browser styles override */
@media only screen and (max-width: 768px) {
    .mainholderDashboard {
        width: auto;
        font-size: 14px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }

    .sidebar {
        max-width: 100%;
        min-width: auto;
    }
}

/* mobile browser portrait mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:portrait) {
    .mainholderMobileDashboard {
        width: auto;
        font-size: 12px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }

    .sidebarMobileDashboard {
        max-width: 100%;
    }
}

/* mobile browser landscape mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:landscape) {
    .mainholderMobileDashboard {
        width: auto;
        font-size: 10px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}
