/**
 * @author  Im[F(x)]
 */

/* General */

.mainholder {
    width: 736px;
    font-size: 13px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.mainholderMobile {
    width: auto;
    font-size: 11px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

/* desktop browser styles override */
@media only screen and (max-width: 768px) {
    .mainholder {
        width: 100%;
        font-size: 11px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}

/* mobile browser portrait mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:portrait) {
    .mainholderMobile {
        width: 100%;
        font-size: 11px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}

/* mobile browser landscape mode styles override */
@media only screen and (max-device-width: 768px) and (orientation:landscape) {
    .mainholderMobile {
        width: 100%;
        font-size: 10px;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}

button a .fa {
    padding: 0;
}

input[type="text"] {
    display: inline-block;
    width: 80%;
    border: none;
    color: #000000 !important;
    background-color: #777777 !important;
    padding: 0 !important;
    margin-top: 0;
    height: auto;
    text-decoration: none;
    font-family: unset !important;
}

input[type="text"]::selection {
    background: rgba(82,168,236,.8);
}

input[type="text"]:focus {
    color: #FFFFFF !important;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    text-decoration: none;
}

input::placeholder {
    color: #BBBBBB !important;
}

h1, h2 {
    margin: 10px;
}

h3, h4 {
    margin: 0;
}

label {
    display: inline-block;
}

.hideMe {
    display:none !important;
} 

.blurMe {
    filter: blur(15px);
}

.focusMe {
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from { box-shadow: 0 0 20px #FFFFFF inset; }
    to { box-shadow: 0 0 10px #000000 inset; }
}

.accordionShow {
    opacity: 1;
    max-height: 25000px;
    transition: .3s ease-in-out;
}

.accordionHide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.containerNoWrap {
    white-space: nowrap;
}

.containerFloatLeft {
    float: left;
}

.containerFloatRight {
    float: right;
}

.containerFloatClear {
    clear: both !important;
}

.containerGithubButtons {
    white-space: nowrap;
    width: 736px;
    position: absolute;
    bottom: 5px;
}

.containerGithubButtonsMobile {
    white-space: nowrap;
    width: auto;
    margin-top: 10px;
    transform: scale(.75);
}

.textNonSelectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Notes elements */

.scrollableContent {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgba(192, 192, 192, .5) rgba(0, 0, 0, .1);
}

.ulNotes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ulNotes li {
    margin: 0 3px 3px 3px;
    padding: .4em;
    border-radius: 3px;
    min-height: 16px;
}

.liNote {
    padding: 6px 10px 10px 12px !important;
    font-size: 1em !important;
    position: relative;
    z-index: 100;
}

.liNoteBkgr {
    background-color: rgba(192, 192, 192, .9);
    border: 1px solid;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.liNewNote {
    padding: 5px 10px 12px 15px!important;
    font-size: 1em !important;
    position: relative;
    z-index: 100;
}

.liNewNoteBkgr {
    background-color: rgba(246, 246, 246, .9);
    border: 1px solid;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.labelNewNote {
    font-weight: bold;
    padding-bottom: 5px;
    padding-right: 10px;
    cursor: default;
}

.textNewNote {
    color: #CD650A;
    cursor: default;
    white-space: pre-line;
    display: inline-block;
}

.noteTitle {
    color: #1F1F1F;
}

.noteTitleLabel {
    margin-top: 0;
    height: 20px;
    border: 0 !important;
}

.noteDetails {
    padding: 5px 10px 0 40px;
    color: #7A7A7A;
    min-height: 16px;
}

.toolbarSeparator {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    cursor: default;
}

.toolbarDivider {
    width: 95%;
    border-top: 1px solid #C0C0C0;
}

.toolbarButton {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    color: #1F1F1F;
}

.buttonToggled {
    color: #993333 !important;
}

.buttonDisabled {
    color: rgba(136, 136, 136, .3) !important;
}

.buttonBigger {
    font-size: 1.5em !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.buttonHeader {
    font-size: 1em !important;
    padding: 0 !important;
}

.buttonStatus {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding-right: 10px;
    border: 0;
    background: transparent;
    color: #1F1F1F;
    font-size: 1.3em;
    cursor: cell;
}

.buttonEditMarkdown {
    position: absolute;
    left: 10px;
    margin-top: 5px;
    font-size: 1.3em;
}

.noteDoneText {
    color: #444444;
    text-decoration: line-through;
}

.noteDetailsMarkdown {
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #CCCCCC;
    width: 100%;
}

.noteEditorMarkdown {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #EEEEEE !important;
}

.noteEditorMarkdownNewNote {
    background-color: rgba(0, 0, 0, .5) !important;
    color: #EEEEEE !important;
}

.noteEditorTextarea {
    resize: vertical;
    padding: 4px;
    font-family: unset;
}

.noteDoneMarkdown {
    background-color: rgba(0, 0, 0, .25) !important;
}

.categories {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    color: #1F1F1F;
}

.catSelector {
    margin-top: 3px;
}

.catLabel {
    cursor: default;
    margin-top: 0;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    border: 1px solid;
    border-radius: 5px;
    color: #1F1F1F;
    background: #999999;
    font-size: 1em !important;
}

.catLabelClickable {
    cursor: pointer;
}

.dateLabel {
    cursor: default;
    margin: 0 4px 4px 0;
    padding: 0 4px 0 4px;
    border: 0;
    border-radius: 5px;
    color: rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .25);
    font-size: 1em !important;
}

.dateLabelClickable {
    cursor: pointer;
    border: 1px solid;
    margin: 0 4px 0 0;
    color: #FFFFFF;
}

.dateLabelComplete {
    color: rgba(32, 32, 32, .5) !important;
}

.dateLabelExpired {
    color: #993333 !important;
}

.spinnerMsg
{
    color:#CD650A !important;
}

.refreshIcon
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2em !important;
    color:#CD650A !important;
}

/* Style for report.php */

.reportTitleLabel {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 0;
    max-width: 90%;
    cursor: default;
}

.reportTitle {
    color: #DDDDDD;
    cursor: default;
}

.reportHide {
    float: left;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.reportDetails {
    padding: 5px 10px 0 20px;
    color: #7A7A7A;
    font-size: .9em !important;
    min-height: 16px;
}

.reportBkgr {
    background-image: linear-gradient(rgba(92, 92, 92, .75), rgba(92, 92, 92, .75)) !important;
    background-color: rgba(92, 92, 92, .50);
    border-color: rgba(92, 92, 92, .50) !important;
    border: 1px solid;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.tableReport {
    border-bottom: none;
    border-left: 1px solid #CCCCCC;
    border-right: none;
    border-top: none;
    width: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: rgba(192, 192, 192, .5) rgba(0, 0, 0, .1);
}

.theadReport {
    position: sticky;
    top: 0;
    z-index: 101;
    line-height: 16px;
}

.thReport {
    position: sticky;
    top: 0;
    z-index: 101;
    padding-left: 10px;
    border-left: none;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    color: #999999;
    background-color: rgba(37, 37, 37, .75);
}

.thReportNr {
    padding-left: 40px;
    padding-right: 15px;
}

.thReportStatus {
    border-right: 1px solid #CCCCCC;
    width: 45px;
}

.markdownReportDetails {
    width: 95%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    white-space:pre-wrap;
}


.tdReport {
    font-size: 12px !important;
    padding: 0;
    position: relative;
    z-index: 100;
}

.tdReportNr {
    border-left: none;
    padding-left: 5px;
    font-weight: 600;
}

.tdReportInfo {
    border-left:none;
    padding-left: 0;
    width: 100%;
}

.tdReportStatus {
    text-align : center;
    border-left:none;
    border-right: 1px solid #CCCCCC;
}


/* Style for stat boxes (e.g. in dropdown.php) */

.statOpen {
    color: #F7F7F7;
    background: #CD650A;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statProgress {
    color: #F7F7F7;
    background: #1F77B4;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statDone {
    color: #F7F7F7;
    background: #2CA02C;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statOpen i.fa, .statProgress i.fa, .statDone i.fa {
    padding: 0 !important;
    color:#F7F7F7 !important;
    margin-right: 4px !important;
}
