/* General */

.button a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
}

@media (max-width : 768px) {
    .mainholder {
        width: auto;
        font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4D4D4D;
        -webkit-font-smoothing: antialiased;
        position: relative;
        font-weight: 300;
    }
}

.mainholder {
    width: 720px;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.mainholderMobile {
    width: auto;
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-weight: 300;
}

.view {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="text"] {
    display: inline-block;
    width: 80%;
    border: none;
    color: #000000 !important;
    background-color: #777777 !important;
    padding: 0 0;
    margin-top: 0;
    height: auto;
    padding-left: 10px;
    text-decoration: none;
}

input[type="text"]::selection {
    background: rgba(82,168,236,.8);
}

input[type="text"]:focus {
    color: #FFFFFF !important;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    text-decoration: none;
}

input::placeholder {
    color: #BBBBBB !important;
}

label {
    display: inline-block;
}

.hideMe {
    display:none !important;
} 

.blurMe {
    filter: blur(15px);
}

.containerNoWrap {
    white-space: nowrap;
}

.containerFloatLeft {
    float: left;
}

.containerFloatRight {
    float: right;
}

.containerFloatClear {
    clear: both !important;
}

.containerLeft {
    position: absolute;
    left: 20px;
    margin-top: -5px;
}


/* Notes elements */

.scrollableContent {
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: rgba(192, 192, 192, .5) transparent;
}

.ulNotes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ulNotes li {
    margin: 0 3px 3px 3px;
    padding: .4em;
    border-radius: 3px;
    min-height: 16px;
}

.liNote {
    padding: 5px 10px 12px 15px!important;
    font-size: 1em !important;
    position: relative;
    z-index: 100;
}

.liNoteBkgr {
    background-color: rgba(246, 246, 246, .7);
    border: 1px solid;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.liNewNote {
    padding: 5px 10px 12px 15px!important;
    font-size: 1em !important;
    position: relative;
    z-index: 100;
}

.liNewNoteBkgr {
    background-color: rgba(246, 246, 246, .9);
    border: 1px solid;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.labelNewNote {
    font-weight: bold;
    padding-bottom: 5px;
    padding-right: 10px;
    cursor: default;
}

.textNewNote {
    color: #CD650A;
    cursor: default;
}

.noteTitle {
    color: #1F1F1F;
}

.noteTitleLabel {
    margin-top: 0;
    height: 20px;
    border: 0 !important;
}

.noteDetails {
    padding: 5px 10px 0 40px;
    color: #7A7A7A;
    min-height: 16px;
}

.toolbarSeparator {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    cursor: default;
}

.toolbarButton {
    float: right;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    color: #1F1F1F;
}

.toolbarButtonToggled {
    color: #993333;
}

.toolbarButtonBigger {
    font-size: 1.5em;
    padding-right: 15px;
    padding-left: 15px;
}

.checkDone {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding-right: 10px;
    border: 0;
    background: transparent;
    color: #1F1F1F;
    cursor: cell;
}

.noteDoneText {
    color: #444444;
    text-decoration: line-through;
}

.noteDetailsMarkdown {
    display: inline-block;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 0 0 10px;
    border: 0;
    color: #CCCCCC;
    width: 100%;
}

.noteEditorMarkdown {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #EEEEEE !important;
}

.noteEditorMarkdownNewNote {
    background-color: rgba(0, 0, 0, .5) !important;
    color: #EEEEEE !important;
}

.noteEditorTextarea {
    resize: vertical;
    padding: 4px;
}

.noteDoneMarkdown {
    background-color: rgba(0, 0, 0, .25) !important;
}

.categories {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    color: #1F1F1F;
}

.catSelector {
    margin-top: 3px;
}

.catLabel {
    float: right;
    cursor: default;
    margin-top: 3px;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    color: #1F1F1F;
    background: #999999;
    font-size: 1em !important;
}

.catLabelClickable {
    cursor: pointer;
}

.boardnotesBusyIcon
{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 2em !important;
    color:#F7F7F7 !important;
}

/* Style for report.php */

.reportTitleLabel {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 0;
    max-width: 90%;
    cursor: default;
}

.reportTitle {
    color: #DDDDDD;
    cursor: default;
}

.reportHide {
    float: left;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.reportDetails {
    padding: 5px 10px 0 20px;
    color: #7A7A7A;
    font-size: .9em !important;
    min-height: 16px;
}

.reportBkgr {
    background-image: linear-gradient(rgba(92, 92, 92, .75) 0 0) !important;
    background-color: rgba(92, 92, 92, .50);
    border-color: rgba(92, 92, 92, .50) !important;
    border: 1px solid;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.tableReport {
    border-bottom: none;
    border-left: 1px solid #CCCCCC;
    border-right: none;
    border-top: none;
}

.theadReport {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 16px;
}

.thReport {
    padding-left: 10px;
    border-left: none;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    color: #999999;
    background-color: rgba(37, 37, 37, .75);
}

.thReportNr {
    padding-left: 35px;
    width: 30px;
}

.thReportStatus {
    border-right: 1px solid #CCCCCC;
    width: 45px;
}

.markdownReportDetails {
    width: 95%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    white-space:pre-wrap;
}


.tdReport {
    font-size: 12px !important;
    padding: 0;
    position: relative;
    z-index: 100;
}

.tdReportNr {
    border-left: none;
    padding-left: 5px;
    font-weight: 600;
}

.tdReportInfo {
    border-left:none;
    padding-left: 0;
}

.tdReportStatus {
    text-align : center;
    border-left:none;
    border-right: 1px solid #CCCCCC;
}


/* Style for stat boxes (e.g. in dropdown.php) */

.statOpen {
    float: right;
    color: #F7F7F7;
    background: #CD650A;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statProgress {
    float: right;
    color: #F7F7F7;
    background: #1F77B4;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statDone {
    float: right;
    color: #F7F7F7;
    background: #2CA02C;
    border: 2px solid #1F1F1F;
    margin-left: 4px;
    padding: 2px 4px 2px 4px;
    line-height: 16px;
}

.statOpen i.fa, .statProgress i.fa, .statDone i.fa {
    padding: 0 !important;
    color:#F7F7F7 !important;
    margin-right: 4px !important;
}
